extends ../layout

block content
  form(action="/lead/" +lead.id+'/edit',method="post")
    input(name="lead_email" type="text",placeholder="enter your email",value=lead.email)
    button(type="submit") Save
